@font-face {
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Medium.ttf');
    font-weight: 500;
}

@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Rubik';
        src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype supports variations'),
        url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 300 500;
    }
}

:root{
    --blue: hsl(246, 80%, 60%);
    --work:hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);

    --very-dark-blue: hsl(226, 43%, 10%);
    --darkblue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    --font: 'Rubik', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;

    padding: 6rem 1.5rem;

    font-size: 1.8rem;
    font-family: var(--font);

    background-color: var(--very-dark-blue);
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 32.5rem;
}

.main__owner{
    height: 20rem;

    border-radius: 1rem;
    background-color: var(--darkblue);
}
.owner__profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    height: 13.5rem;

    border-radius: 1rem;
    background-color: var(--blue);
}
.profile__image{
    width: 7rem;
    height: 7rem;

    border-radius: 50%;
    border: solid 0.2rem white;
    background-image: url('../images/image-jeremy.png');
    background-size: 7rem 7rem;
}
.profile__text p{
    font-weight: 300;
    font-size: 1.8rem;
}
.profile__text span{
    font-weight: 400;
    font-size: 2.4rem;
}
.owner__timeline{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 6.5rem;

    font-weight: 300;

}
.owner__timeline button{
    color: var(--desaturated-blue);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.timeline--active{
    font-weight: 400;

    color: white !important;
}

.main__report{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.report__container{
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 16.5rem;

    background-image: url('../images/icon-work.svg');
    background-repeat: no-repeat;
    background-position: top -1rem right 1.5rem;
    border-radius: 1rem;
    background-color: var(--work);
}
.report__content{
    height: 12.5rem;
    padding: 2rem 2rem;

    border-radius: 0.8rem;
    background-color: var(--darkblue);
    cursor: pointer;
}
.content__header{
    display: flex;
    justify-content: space-between;
}
#content-title{
    font-weight: 500;
    font-size: 1.8rem;
}
.content__options{
    font-weight: 500;
    letter-spacing: 0.2rem;

    color: var(--pale-blue);
    cursor: pointer;
}
.content__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content-time{
    font-weight: 300;
    font-size: 3.4rem;
}
#content-timeline{
    font-weight: 300;
    font-size: 1.6rem;

    color: var(--pale-blue);
}

@media screen and (min-width: 1000px){
    body{
        align-items: center;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 3rem;
    
        width: 110rem;
        height: 53rem;
    }

    .main__owner{
        height: 100%;
    
        border-radius: 1rem;
        background-color: var(--darkblue);
    }
    .owner__profile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: unset;
        gap: 3rem;
    
        padding: 3rem 3rem;
        height: 36rem;
    
        border-radius: 1rem;
        background-color: var(--blue);
    }
    .profile__text span{
        font-weight: 400;
        font-size: 4rem;
    }
    .owner__timeline{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    
        height: 16.5rem;

        padding: 1rem 3rem;
    
        font-weight: 300;
    
        color: var(--desaturated-blue);
    }
    .main__report{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
    }
    .report__container{
        height: 100%;
    }
    .report__content{
        height: 20rem;
        padding: 3rem 2.5rem;
    }
    .content__header{
        display: flex;
        justify-content: space-between;

        margin-block-end: 1rem;
    }
    .content__description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #content-time{
        font-size: 5rem;
    }
}

.report__loading_skeleton{
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 25rem;

    border-radius: 1rem;
    background-color: var(--darkblue);

    animation: loading-skeleton infinite 1.5s;
}

@keyframes loading-skeleton {
    20%, 100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
}

@media (hover:hover){
    .owner__timeline button:hover{
        font-weight: 400;

        color: white;
    }

    .content__options:hover{
        color: white;
    }
    .report__content:active{
        background-color: var(--desaturated-blue);
    }
}